html {
    background-color: #fff;
    color: #000;
}

body {
   font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
}

a {
  color: #0096B3;
  text-decoration: underline;
}

.backfaceVisibility {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.button-icon {
	width: 30px;
	height: 30px;
}

.back-button {
	margin-top: 10px;
}

.back-button i {
	vertical-align: -10%;
}

.back-button-icon {
	margin-right: 10px;
}

.button-icon, .fa {
	margin-top: 7px;
}

.button-text {
	margin: 0;
}

.button-content {
	text-align: center;
  /*color: #0096B3;*/
  color: #85BFCF;
}

.button-highlight {
  color: #ffffff;
  background-color: #0096B3;
}

.button-horizontal p {
	display: inline-block;
}

.detail-content {
    padding: 18px;
}


.fa {
	font-size: 30px;
}



.button-text {
	font-size: 14px;
}

.clickButton:active {
  background-color: #F28A75 !important;
}

.footer-background {
  background-color: #FFFFFF;
	border-top: 1px solid #CCCCCC;
}

.header-title {
  padding-top: 20px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

.header-background {
  background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}

.header-left-button-icon {
    padding-top: 20px;
    font-size: 40px;
    margin-top: 0;
}

.header-left-button-label {
  padding-top: 20px;
}

.scroll-list-item {
	padding: 10px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
}

